@model demo.Models.Account

@{
    ViewData["Title"] = "登入";
}
<h2>登入</h2>

<form method="post" action="/Account/Login">
    <div class="form-group">
        <label for="username">帳號</label>
        <input type="text" class="form-control" name="username" />
    </div>
    <div class="form-group">
        <label for="password">密碼</label>
        <input type="password" class="form-control" name="password" />
    </div>
    <br />
    <button class="btn btn-primary" type="submit">登入</button>
    <a href="/Account/Register" class="btn btn-secondary ml-2">註冊</a>
</form>
<br />
<form asp-action="GoogleLogin" method="post">
    <button class="btn btn-danger" type="submit">使用 Google 登入</button>
</form>
@if (TempData["Message"] != null)
{
    <div class="alert alert-danger">@TempData["Message"]</div>
}
