@model demo.Models.Account

@{
    ViewData["Title"] = "µù¥U";
}
<h2>µù¥U</h2>

<form method="post" action="/Account/Register">
    <div class="form-group">
        <label for="username">±b¸¹</label>
        <input type="text" class="form-control" name="username" />
    </div>
    <div class="form-group">
        <label for="password">±K½X</label>
        <input type="password" class="form-control" name="password" />
    </div>
    <div class="form-group">
        <label for="confirmPassword">½T»{±K½X</label>
        <input type="password" class="form-control" name="confirmPassword" />
    </div>
    <br />
    <button type="submit" class="btn btn-success">µù¥U</button>
    <a href="/Account" class="btn btn-link">ªð¦^µn¤J</a>
</form>

@if (TempData["Message"] != null)
{
    <div class="alert alert-danger">@TempData["Message"]</div>
}
